#toolbar, .toolbar {
    background: #eee;
    border-radius: 6px;
    float:left;
    height:60px;
    padding:15px;
    width:100%;
    &.autosave_enabled {
      background:#e8fff5;
    }
    &.fixed {
        filter:alpha(opacity=70);
        margin: 0 auto;
        opacity:.7;
        position: fixed;
        top:5px;
        width:82%;
        z-index:1;
    }
    & .toolbar_row {
        float:left;
        &.export_block {
          float:right;
          & #export_block {
            width:240px;
            & #autosave_block {
              float:left;
              padding-top:5px;
            }
            & #cleanup_block {
              float:left;
              padding-left:10px;
              width:90px;
            }
          }
        }
    }

  #manage_settings {
    float:right;
    position:relative;
    width:200px;
    #show_settings {
      position: absolute;
      right:0;
      top:7px;
      &:hover, &.active {
        opacity:.6;
      }
      &.active:hover {
        opacity: 1;
      }
    }

    .settings {
      background:#fff;
      border:1px solid #fff;
      border-radius:5px;
      box-shadow: 2px 2px 2px 2px #eee;
      padding:5px 10px 20px 10px;
      position:absolute;
      top:30px;
      width:250px;
      
      .triangle_bridge {
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 20px solid #fff;
        height: 0;
        position: absolute;
        right:41px;
        top:-12px;
        width: 0;
      }

      .settings_block {
        margin-top: 15px;

        h5 {
          font-weight: bolder;
        }
      }
    }
  }
}
