<div id="toolbar" class="toolbar" ng-if="weeks.length > 0" ng-class="{ 'fixed' : fixed_toolbar, 'autosave_enabled' : autosave }">
    <div ng-include="templates.view_mode" class="toolbar_row col-md-2"></div>
    <div class="toolbar_row">
        <button ng-click="modals.add.open()" class="btn btn-primary">Создать запись...</button>
    </div>
    <div class="toolbar_row export_block">
        <div id="export_block">
            <!-- button ng-click="exportJson()" class="btn" ng-if="items.length > 0">Экспортировать</button -->
            <div id="autosave_block">
                <input id="autosave" type="checkbox" ng-change="changeAutosave(autosave)" ng-model="autosave"/> <label class="light_label" for="autosave" style="font-weight:normal;">Автосохранение</label>
            </div>
            <div id="cleanup_block">
                <button ng-show="storageDataIsNotEmpty()" ng-click="clearStorageData()" class="btn">Очистить</button>
            </div>
        </div>
    </div>
</div>
