<div class="btn-group">
    <label class="btn btn-default" ng-model="prefs.viewMode" ng-change="save_data()" btn-radio="'table'"><span class="glyphicon glyphicon-tree-conifer"></span></label>
    <label class="btn btn-default" ng-model="prefs.viewMode" ng-change="save_data()" btn-radio="'table-2'"><span class="glyphicon glyphicon-calendar"></span></label>
    <label class="btn btn-default" ng-model="prefs.viewMode" ng-change="save_data()" btn-radio="'list'"><span class="glyphicon glyphicon-th-list"></span></label>
</div>