<div id="table_view_mode" class="col-md-10" ng-show="prefs.viewMode == 'table-2'">
    <div class="row exsps_header up down">
        <div class="col-xs-1"></div>
        <div class="col-xs-1 exsps_week_flow" ></div>
        <div class="col-xs-4 income">
            <span ng-show="incomes_num > 0">Доходы</span>
        </div>
        <div class="col-xs-5">
            <div class="row">
                <div class="col-xs-4">
                    <span ng-show="expenses_num > 0">
                    Расходы
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-1">
            <span ng-show="payments.length > 0">Баланс</span>
        </div>
    </div>
    <div class="row intro">
        <div class="col-xs-1 exsps_start_date_label"><span class="exsps_value_name name">Начало</span></div>
        <div class="col-xs-1 exsps_start_date">
            <a class="pseudo" href="javascript:void(0)" ng-click="modals.startDate.open()">
                <span ng-bind="prefs.startDate | date:'d MMM yy'" class="exsps_start_date_value" />
            </a>
        </div>
        <div class="col-xs-2">&nbsp;</div>
        <div class="col-xs-2">&nbsp;</div>

        <div class="col-xs-5" style="width:41%;">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
        <div class="col-xs-1">
            <a class="pseudo" href="javascript:void(0)" ng-click="modals.startValue.open()"><nobr><span ng-bind="decimalsOutput(prefs.startValue)" /></nobr></a><br /><span class="exsps_value_name name">Начальный баланс</span>
        </div>
    </div>
    <!-- div ng-repeat="(year,yearWeeks) in yearsWeeks" -->
        <!-- неделя -->
        <div ng-repeat="week in weeks" ng-class="{ month_first_week: week.first_in_month }">
            <div class="row exsps_week_flow">
                <div class="col-md-1 exsps_week_title">
                    <span class="week_title">Неделя&nbsp;{{ $index + 1 }}</span>
                    <!--
                    <span class="small grey"><nobr>{{week.dayFirst | date:'d MMM'}}</nobr>&nbsp;- <nobr>{{week.dayLast | date:'d MMM'}}</nobr></span>
                    -->
                </div>
                <div class="col-md-1 exsps_week_up" >
                    <span class="week_title">
                        <nobr> {{ week.first_day | date: 'd MMM' }}</nobr>
                    </span>
                </div>
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-2">&nbsp;</div>
            </div>

            <!-- week expenses -->
            <div class="week_day" ng-repeat="day in week.days">
                <div class="week_expense row exsps_week_flow" ng-repeat="payment in week.payments">
                    <div class="day_payment" ng-if="payment.belongs_to_day(day, week)">
                        <div class="col-xs-1 small fake_expense_row_block "></div>
                        <div class="col-xs-1 exsps_date small">
                            <span ng-bind="payment.payment_date(week) | date: 'd MMM'" />
                        </div>
                        <div class="col-xs-4">
                            <div class="expense payment" ng-if="payment.sum > 0" ng-class="{ regular: payment.regular, casual: payment.casual, monthly: payment.monthly, weekly: payment.weekly }">
                                <nobr><a href="javascript:void(0)" class="exsps_value pseudo" ng-bind="'&plus;' + payment.sum" ng-click="modals.add.open(payment)"></a></nobr>&nbsp;<span class="label label-default exsps_label_{{payment.label}}" ng-bind="payment.name"></span>
                            </div>
                        </div>
                        <div class="col-xs-5" style="width:39%;">
                            <div class="expense payment" ng-if="payment.sum < 0" ng-class="{ regular: payment.regular, casual: payment.casual, monthly: payment.monthly, weekly: payment.weekly }">
                                <nobr><a href="javascript:void(0)" class="exsps_value pseudo" ng-bind="payment.sum" ng-click="modals.add.open(payment)"></a></nobr>&nbsp;<span class="label label-default exsps_label_{{payment.label}}" ng-bind="payment.name"></span>
                            </div>
                        </div>
                        <div class="col-md-1 exsps_total small">
                              <span>
                                <nobr class="expense_sum" data-sum="{{ payment.sum }}"></nobr>
                              </span>
                        </div>
                    </div>  
                </div>
            </div>
            <!-- end week expenses -->
        </div>
    <!-- /div -->

    <div class="row exsps_header up down">
        <div class="col-md-5">
            <a href="javascript:void(0)" ng-click="addWeeks()" class="pseudo">Еще 4 недели</a>
        </div>
    </div>
</div>
