
<!--

<div ng-controller="PrefsController">

  <h2>Настройки</h2>
  
  
  <div class="form-group">
    <label for="weekPrice">Стоимость недели:</label>
    <input type="text" ng-model="prefs.weekPrice" class="form-control" />
  </div>

  <button class="btn btn-default" ng-click="updateTable()">Обновить</button>
  

  
  <div class="form-group">
    <label for="startValue">Начальная сумма</label>
    <input type="text" ng-model="prefs.startValue" class="form-control" />
  </div>
  
  <button class="btn btn-default" ng-click="updateTable()">Обновить</button>
  
  

  <div class="form-group">
    <label for="startDate">Дата</label>
    <div ng-bind="prefs.startDate | date:'dd.MM.yyyy'"></div>
    <datepicker id="startDate" ng-model="prefs.startDate" />
  </div>
  
  <button class="btn btn-default" ng-click="updateTable()">Обновить</button>

</div>

  -->